{% extends "base_page.html" %}
{% load static %}

{% block page-title %}
Memo 
{% endblock %}

{% block page-lead %}
- это проект для развития памяти, <br/>
который поможет уложить в памяти все, что вам покажется нужным
{% endblock %}

{% block page-lead-image %}
<img src="{% static 'index.svg' %}"  height="200"/>
{% endblock %}

{% block content %}

<div class="container-fluid px-0" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-2">
        <div class="col-lg-3 col-md-6 g-2">
            <div class="gradient-card">
                <div class="card-content">
                    <h3 class="fs-2">Библиотека карточек</h3>
                    <p>Здесь вы сможете познакомиться со всеми карточками или повторить их</p>
                    <a href="/terms-list-category-selection" class="btn btn-outline-light">Посмотреть</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 g-2">
            <div class="gradient-card">
                <div class="card-content">
                    <h3 class="fs-2">Новая категория</h3>
                    <p>Здесь вы сможете создать свою группу карточек для запоминания</p>
                    <a href="/add-new-category" class="btn btn-outline-light">Создать</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 g-2">
            <div class="gradient-card">
                <div class="card-content">
                    <h3 class="fs-2">Добавление карточки</h3>
                    <p>Здесь вы сможете дополнить уже существующие наборы карточек</p>
                    <a href="/add-term" class="btn btn-outline-light">Добавить</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 g-2">
            <div class="gradient-card">
                <div class="card-content">
                    <h3 class="fs-2">Статистика</h3>
                    <p>Что есть в этом проекте</p>
                    <a href="/stats" class="btn btn-outline-light">Изучить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
